@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ecf0f3;
}
.container {
  max-width: 95%;
  margin: auto;
}
.d_flex {
  display: flex;
  justify-content: space-between;
}
.f_flex {
  display: flex;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
button {
  border: none;
  outline: none;
  background-color: none;
}

.btn-shadow {
  padding: 18px 25px;
  background-repeat: 6px;
  transform: 0.5s all ease;
  cursor: pointer;
  color: #000;
  border-radius: 10px;
}
.btn-shadow:hover {
  background: #ff014f;
  color: white;
  transform: translateY(-10px);
}
.btn-shadow {
  background: linear-gradient(145deg, #e4e8ec, #ffffff);
  box-shadow: 4px 4px 6px #cbcbcb, 4px -4px 8px #ffffff;
}
.box_shodow{
  background: linear-gradient(145deg, #e4e8ec, #ffffff);
  box-shadow: 4px 4px 6px #cbcbcb, 4px -4px 8px #ffffff;
  border-radius: 10px;
}
.row,.left ,.right{
  width: 50%;
}
.top{
  margin-top: 40px;
}
.mtop{
  margin-top: 40px;
}
.heading{
  margin-top: 40px;

}
.heading{
  margin: 50px 0 50px 0;

}
.heading h4{
  color: #ff014f;
  letter-spacing: 2px;
  font-weight: 400;
}
.heading h1{
  font-size: 60px;
  color: #3c3e41;
}
h1{
  color: #3c3e41;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 35px;
}
p {
  color: #3c3e41;
}
.text-center{
  text-align: center;
}
textarea{
  margin-left: 20px;
}
textarea,
input{
  width: 100% !important;
  padding: 20px;
  border-radius: 5px;
  outline: none;
  border: 3px solid #e2e8ec;
  margin-bottom: 20px;
}
footer{
margin: 0;
background-color: #3c3e41;
height: 40px;
}
footer p{
  color: #fff;
  padding-top: 10px;
}
footer a{
  color: wheat;
}
@media (max-width:768px) {
  .grid{
      grid-template-columns: repeat(2,1fr);
  }
  .left,
  .right{
      width: 100%;
  }
  
}